In [1]:
import pandas as pd

In [4]:
psg_players = pd.Series(
  ['Navas', 'Mbappe', 'Neymar', 'Messi'],
  index=[1, 7, 10, 30]
)
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [5]:
pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'])

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

In [6]:
psg_players_dict = { 1: 'Navas', 7: 'Mbappe', 10: 'Neymar', 30: 'Messi' }
pd.Series(psg_players_dict)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [10]:
# psg_players[0]
psg_players[7]

'Mbappe'

In [11]:
psg_players[0:3]

1      Navas
7     Mbappe
10    Neymar
dtype: object

In [12]:
dictionary = {
  'Player': ['Navas', 'Mbappe', 'Neymar', 'Messi'],
  'Height': [183.0, 170.0, 170.0, 165.0],
  'Goals': [2, 200, 200, 200]
}

In [14]:
df_players = pd.DataFrame(dictionary, index=[1, 7, 10, 30])
df_players

    Player  Height  Goals
1    Navas   183.0      2
7   Mbappe   170.0    200
10  Neymar   170.0    200
30   Messi   165.0    200

In [15]:
df_players.columns

Index(['Player', 'Height', 'Goals'], dtype='object')

In [16]:
df_players.index

Index([1, 7, 10, 30], dtype='int64')